<div class="bloc"></div>
<div class="form-container">
    <h2>Réservez ce jeu</h2>
    <div class="container">
      <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <%= simple_form_for [@game, @booking] do |f| %>
          <%= f.input :starting_date, as: :string, required: false, :label => "Quand irez-vous chercher le jeu ?", input_html: {class: "datepicker", id: "range_start"} %>
          <%= f.input :ending_date, as: :string, required: false, :label => "Quand rendrez-vous le jeu ?", input_html: {class: "datepicker", id: "range_end"} %>
          <%= f.button :submit, "Go", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="back-home">
      <%= link_to "Retour à l'accueil", root_path %>
    </div>

</div>
