<%= link_to game_path(game) do %>
<div class="cardinfo">
  <div class="imginfo"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(<%= cl_image_path game.photo.key %>)"> </div>
  <div class="nameinfo"><h2><%= game.name %></h2></div>
  <div class="prixinfo">
  <li><p class="price"><%= game.price_per_day %> € par jour</p></li>
 <li><p>Proposé par <%= game.user.first_name.capitalize %></p></li>
</div>
<% end %>
