<div class="bloc"></div>
<div class="form-container">
  <h2>Créez votre annonce</h2>
    <%= simple_form_for(@game) do |f| %>

      <div class="form-inputs">
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name" },
                      placeholder: "Nom du jeu",
                      label: "Nom" %>

          <%= f.input :description,
                      required: true,
                      input_html: { autocomplete: "description" },
                      placeholder: "Description du jeu",
                      label: "Description" %>

          <%= f.input :photo,
                      required: true %>

          <%= f.input :address,
                      required: true,
                      input_html: { autocomplete: "address" },
                      placeholder: "Adresse",
                      label: "Adresse" %>

          <%= f.input :price_per_day,
                      required: true,
                      input_html: { autocomplete: "price_per_day" },
                      placeholder: "Prix en euros",
                      label: "Prix par jour" %>
          <%= f.submit value: "Soumettre", class: "btn btn-outline-secondary" %>
      </div>
    <% end %>

    <div class="back-home">
      <%= link_to "Retour à l'accueil", root_path %>
    </div>

</div>
