<h2>Creez votre annonce</h2>

<%= simple_form_for(@game) do |f| %>

  <div class="form-inputs">

      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" }%>

        <%= f.input :photo,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" }%>

      <%= f.input :description,
                  required: true,
                  input_html: { autocomplete: "description" } %>

      <%= f.input :address,
                  required: true,
                  input_html: { autocomplete: "address" } %>

      <%= f.input :price_per_day,
                  required: true,
                  input_html: { autocomplete: "price_per_day" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Créer" %>
      </div>
<% end %>
