<div class="bloc"></div>

<div class="card-container">
  <div class="card-product">
    <div class="card-product-image">
      <%= cl_image_tag @game.photo.key, class: "product-image" %>
    </div>

    <div class="card-product-infos">
      <h1><%= @game.name %><em class="game_owner"><%= " de " %><%= @game.user.first_name.capitalize %></em></h1>
      <h2><%= @game.price_per_day %><%= "€ par jour" %></h2>
      <p><%= @game.description %></p>
      <%= link_to "Réserver", new_game_booking_path(@game), class: "bouton" %>
    </div>
  </div>
</div>
      <div class="back-home">
        <%= link_to "Revenir aux jeux", root_path %>
      </div>
</div>
